<div class="writers">

  <custom-header></custom-header>

  <div class="text" min-height>
    <div class="title">
      {{ writer.name }}
    </div>
    <div class="description">
      <p ng-repeat="paragraph in writer.description">
        {{ paragraph }}
      </p>
    </div>
    <div class="title">
      Textos
    </div>
    <div class="texts" ng-repeat="id in writer.texts">
      <div class="title cursor-pointer" ng-click="goPoem(id)">
        {{ getPoem(id).title }}
      </div>
      <div class="date">
        {{ getPoem(id).date }}
      </div>
    </div>
  </div>

  <main-footer></main-footer>

</div>
