<div class="home">

  <custom-header></custom-header>

  <main>
    <section class="page" full-size>
      <div class="page-main"
          ng-parallax
          pattern="getSrc(homePattern)"
          speed="0"
          reverse="true"
          full-size>
        <img class="logo" src="img/bucle.svg" />
        <div class="quote" ng-animate-swap="quote">
          "{{ quote }}"
          <div class="writer">
            {{ writer }}
          </div>
        </div>
      </div>
    </section>
    <section class="poem"
        ng-init="poemHover=false"
        ng-repeat="poem in poems"
        full-size>
      <div class="poem-background"
        ng-class="{hover:poemHover}"
        ng-parallax
        pattern="getSrc(poem.img)"
        speed="0"
        reverse="true"
        full-size>
      </div>
      <div class="text"
          ng-mouseleave="poemHover=false"
          ng-mouseover="poemHover=true">
        <div class="title" ng-click="goPoem(poem.id)">
          {{ poem.title }}
        </div>
        <div class="date">
          {{ poem.date }}
        </div>
        <ul class="verse">
          <li ng-repeat="verse in poem.poem[0] | limitTo:4">
            {{ verse }}
          </li>
        </ul>
        <div class="more"
            ng-show="poem.poem[0].length > 4 || poem.poem.length >= 2"
            ng-click="goPoem(poem.id)">
          Seguir leyendo...
        </div>
      </div>
    </section>
    <section class="page" full-size>
      <div class="page-footer"
          id="grain"
          ng-parallax
          speed="0"
          reverse="true"
          full-size>
        <div class="text">
          <div class="subtitle">
            <span ng-click=goTexts()>
              Textos
            </span>
            <span ng-show="showNext">
              |
            </span>
            <span ng-click=goNext() ng-show="showNext">
              Página siguiente
            </span>
          </div>
        </div>
        <main-footer></main-footer>
      </div>
    </section>
  </main>

</div>
